<ion-header>
  <ion-toolbar>
    <ion-title>Sources</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Search a source"
      [(ngModel)]="term"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row *ngIf="!sources">
      <ion-col size="12" *ngFor="let fa of fakeArticles">
        <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="sources">
      <ion-col
        size="12"
        size-md="6"
        *ngFor="let source of (sources | search: term)"
      >
        <ion-list>
          <ion-item color="light" [routerLink]="['/sources', source.id]">
            <ion-label text-wrap>
              <ion-text color="primary">
                <h2>
                  {{source.name}}
                  <ion-badge color="primary">{{source.category}}</ion-badge>
                </h2>
              </ion-text>
              <ion-text color="primary">
                <p>{{source.description}}</p>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
